<div class="sidebar" data-color="red" data-image="{{ asset('assets/img/sidebar-road.jpg') }}">
    {#change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple#}
    <div class="sidebar-wrapper">
        <div class="logo">
            <img src="{{ asset('assets/img/logo.png') }}" class="img-responsive">
        </div>
        <ul class="nav">
            <li class="active">
                <a href="{{ path('createQuote') }}">
                    <i class="pe-7s-plus"></i>
                    <p>Create New Quote</p>
                </a>
            </li>
            <li>
                <a href="{{ path('dashboard') }}">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="{{ path('quotes') }}">
                    <i class="pe-7s-calculator"></i>
                    <p>Quotes</p>
                </a>
            </li>
            <li>
                <a href="{{ path('feescale_index') }}">
                    <i class="pe-7s-cash"></i>
                    <p>FeeScales</p>
                </a>
            </li>
        </ul>
    </div>
</div>