{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Your Profile</h4>
                    <p class="category"></p>
                </div>
                <div class="content">
                    <table>
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ feeScale.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ feeScale.name }}</td>
                        </tr>
                        <tr>
                            <th>Userid</th>
                            <td>{{ feeScale.userId }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <ul>
                        <li>
                            <a href="{{ path('feescale_index') }}">Back to the list</a>
                        </li>
                        <li>
                            <a href="{{ path('feescale_edit', { 'id': feeScale.id }) }}">Edit</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
